<table mat-table [dataSource]="products" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let product; let i=index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Img </th>
        <td mat-cell *matCellDef="let product ; let i=index">
            <img [src]="product.image" id="img" height="100">
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product" id="bold"> {{product.name}} </td>
    </ng-container>
    <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Company </th>
        <td mat-cell *matCellDef="let product"> {{product.company}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let product">1
        </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
    </ng-container>
    <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef> Add
            <span id="cont">
                <button mat-raised-button (click)="openDialogCart('500ms', '500ms')" class="bucket">
                    <span class="material-icons" style="margin-right: auto; color: rgb(165, 42, 42);">
                        shopping_basket
                    </span>
                    <span style="margin-right: auto">{{this.carts.length}}</span>
                </button>
            </span>
        </th>
        <td mat-cell *matCellDef="let product">
            <button type="submit" mat-raised-button color="accent" (click)="onSubmit(product)"
                [disabled]="product.quan==false">
                <span *ngIf="product.quan==1" id="text_button">add in cart</span>
                <span *ngIf="product.quan==0" id="text_button_incart">in cart</span>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
