<a mat-raised-button routerLink="/" color="primary" id="home" routerLinkActive="app" ariaCurrentWhenActive="page"
  [routerLinkActiveOptions]="{exact: true}">
  Home
</a>
<a mat-raised-button routerLink="/product" color="primary" routerLinkActive="app"> Turn to page product</a>
<router-outlet></router-outlet>
<mat-list>
  <mat-list-item>
    This is a simple example of a shopping cart , a piece of code,
  </mat-list-item>
  <mat-list-item>
    user interactions with the database PostgreSql.
  </mat-list-item>
  <mat-list-item>
    Also here is used library Material.
  </mat-list-item>
</mat-list>
